[submodule "ModerRobotics"]
	path = ModerRobotics
	url = https://github.com/Le0nX/ModernRoboticsCpp.git
[submodule "ModernRobotics"]
	path = ModernRobotics
	url = https://github.com/Le0nX/ModernRoboticsCpp.git
